/* Reset básico */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  
/* Estilização do corpo da página */
body {
	background: #FBF8F6;
	font-family: 'Roboto', sans-serif;
	display: flex;
	height: 100vh;
}
  
/* Barra lateral */
.sidebar {
	width: 100px; /* Largura da barra lateral */
	background: #1C274C;
	padding: 20px 0; /* Apenas padding vertical */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start; 
	position: fixed; 
	height: 100%;
}
  
/* Estilos para itens do menu */
.menu-item {
	width: 100%;
	height: 60px;
	margin: 10px 0; /* Espaçamento entre os itens do menu */
	color: #FBF8F6;
	display: flex;
	align-items: center;
	padding-left: 10px; /* Ajustando o espaço à esquerda */
	border-radius: 5px; /* Adicionando bordas arredondadas */
	cursor: pointer;
	transition: background-color 0.3s ease;
}
  
.menu-item:hover {
	background-color: #555; 
}
  
/* Estilo específico para o item do usuário */
.menu-item.user {
	padding-left: 10px; /* Mesmo padding do menu */
}
  
.menu-item.user img {
	margin-right: 10px; /* Espaço à direita da imagem do usuário */
}
  
/* Imagem do usuário */
.user-image {
	width: 40px; /* Largura da imagem do usuário */
	height: 40px; /* Altura da imagem do usuário */
	border-radius: 50%; /* Bordas arredondadas */
	margin-bottom: 10px; 
}
  
/* Estilos das imagens dos itens do menu */
.menu-icon {
	width: 40px; 
	height: 40px; 
	border-radius: 50%; 
	display: block; 
	margin-right: 10px; /* Espaço à direita da imagem */
}
  
/* Conteúdo principal */
.main-content {
	flex-grow: 1;
	margin-left: 120px; /* Ajustando a margem esquerda para a largura da barra lateral */
	padding: 20px; /* Ajustando o padding */
	display: flex;
	flex-direction: column;
}
  
/* Título principal */
.title {
	width: 100%;
	height: 80px;
	border-radius: 5px;
	background: #1C274C;
	color: #FBF8F6;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	margin-bottom: 20px; /* Espaçamento abaixo do título */
}
  
/* Alinhando os subtítulos em linha */
.subtitle-wrapper {
	display: flex;
	gap: 10px; /* Ajustando o espaço entre os subtítulos */
}
  
/* Estilos dos subtítulos */
.subtitle {
	flex: 1;
	height: 80px;
	border-radius: 5px;
	background: #1C274C;
	color: #FBF8F6;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}
  
/* Estilização da dash */
.dash {
	width: 100%;
	height: 400px;
	background-color: #FBF8F6;
	border-radius: 10px;
	margin-top: 20px; /* Espaçamento acima da dash */
	display: flex;
	align-items: center;
	justify-content: space-around; 
}
  
/* Estilos dos itens da dash */
.dash-item {
	flex: 1; 
	height: 90%; 
	background-color: #1C274C;
	border-radius: 10px;
	margin: 10px; /* Espaçamento entre os itens da dash */
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FBF8F6;
	font-size: 20px;
}
